<div class="drawer h-full flex items-center">
  <input id="my-drawer-1" type="checkbox" class="drawer-toggle">
  <div class="drawer-content">
    <!-- Page content here -->
    <label for="my-drawer-1" style="color: {{ text_color }}">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        focusable="false"
        class="size-5"
        fill="none"
        viewBox="0 0 18 16"
      >
          <path d="M1 .5a.5.5 0 100 1h15.71a.5.5 0 000-1H1zM.5 8a.5.5 0 01.5-.5h15.71a.5.5 0 010 1H1A.5.5 0 01.5 8zm0 7a.5.5 0 01.5-.5h15.71a.5.5 0 010 1H1a.5.5 0 01-.5-.5z" fill="currentColor">
        </path>
      </svg>
    </label>
  </div>
  <div class="drawer-side">
    <label for="my-drawer-1" aria-label="close sidebar" class="drawer-overlay"></label>
    <div
      class="menu bg-base-200 min-h-full w-[calc(100vw-4rem)] border-r p-0"
      style="background: {{ bg_color }}; border-color: {{ border_color }}"
    >
      <div
        class="py-2.5 px-5 border-b flex justify-between items-center h-16"
        style="border-color: {{ border_color }}; color: {{ text_color }}"
      >
        <h3 class="text-2xl font-bold ">Menu</h3>
        <label for="my-drawer-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            focusable="false"
            class="size-5"
            fill="none"
            viewBox="0 0 18 17"
          >
              <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
            </path>
          </svg>
        </label>
      </div>
      <!-- Sidebar content here -->
      <ul class="py-2.5 border-b" style="border-color: {{ border_color }}; color: {{ text_color }}">
        {% if menu.links.size > 0 %}
          {% for link in menu.links %}
            <li class="text-lg px-5 py-2.5">
              <a href="{{ link.url }}" title="{{ link.title }}" class="p-0">{{ link.title }}</a>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
      <div class="px-5 py-2.5 flex items-center">
        <a
          class="p-3 block"
          href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
          style="color: {{ text_color }}"
        >
          {%- if customer and customer.has_avatar? -%}
            {{ customer | avatar }}
          {%- else -%}
            {% render 'icon-account', text_color: text_color %}
          {%- endif -%}
        </a>
        {% if customer %}
          <form method="post" action="/account/logout">
            <button
              type="submit"
              class="px-3 py-2 rounded text-sm font-bold"
              style="color: {{ text_color }}"
            >
              Log out
            </button>
          </form>
        {% else %}
          <div class="text-sm font-bold">
            <a href="{{ routes.account_login_url }}" class="block" style="color: {{ text_color }};">Log in</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
