<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% render 'meta-tags' %}

    {{ content_for_header }}

    {% style %}
      {{ settings.type_primary_font | font_face: font_display: 'swap' }}

        body {
          --font-primary-font: {{ settings.type_primary_font.family }}, {{ settings.type_primary_font.fallback_families }};
          font-family: var(--font-primary-font);
        }
    {% endstyle %}
    {% comment %} <script src="{{ 'product-custom.js' | asset_url }}" defer="defer"></script> {% endcomment %}
    {{ 'output.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'animations.js' | asset_url }}" defer="defer"></script>
  </head>

  <body>
    {% sections 'header-group' %}

    {{ content_for_layout }}

    {% sections 'footer-group' %}
  </body>
</html>
