<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% render 'meta-tags' %}

    {{ content_for_header }}

    {% style %}
      {{ settings.type_primary_font | font_face: font_display: 'swap' }}

        body {
          --font-primary-font: {{ settings.type_primary_font.family }}, {{ settings.type_primary_font.fallback_families }};
          font-family: var(--font-primary-font);
        }
    {% endstyle %}

    {{ 'output.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'animations.js' | asset_url }}" defer="defer"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"
    >

    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js" defer="defer"></script>
  </head>

  <body>
    {% sections 'header-group' %}

    {{ content_for_layout }}

    {% sections 'footer-group' %}
  </body>
</html>
