{% liquid
  assign bg_color = section.settings.background_color | default: settings.primary_color
  assign text_color = section.settings.text_color | default: settings.secondary_color
  assign border_color = section.settings.border_color | default: settings.secondary_color
  assign menu = linklists[section.settings.menu]
%}

<footer style="background: {{ bg_color }}; color: {{ text_color }};" class="pt-8 pb-5">
  <div class="container grid md:grid-cols-2 pb-12 scroll-fade-in">
    <div>
      <h2 class="text-2xl font-bold mb-5">{{ section.settings.header_link }}</h2>
      <ul>
        {% if menu.links.size > 0 %}
          {% for link in menu.links %}
            <li class="text-sm hover:underline underline-offset-2 py-2">
              <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>
    <div>
      <h2 class="text-2xl font-bold mb-5">Contact Us</h2>
      <ul class="text-base space-y-2">
        <li>Support email: {{ settings.email }}</li>
        <li>Contact Phone Number：{{ settings.phone }}</li>
        <li>Hotline Service Hours： {{ settings.working_time }}</li>
      </ul>
    </div>
  </div>
  <div class="border-t flex flex-col items-center pt-7" style="border-color: {{ border_color }}">
    <span class="text-xs">{{ section.settings.copy_right }}</span>
  </div>
</footer>

{% schema %}
{
  "name": "t:general.footer",
  "settings": [
    {
      "id": "background_color",
      "type": "color",
      "label": "t:labels.background"
    },
    {
      "id": "text_color",
      "type": "color",
      "label": "t:general.colors"
    },
    {
      "id": "border_color",
      "type": "color",
      "default": "#ffffff14",
      "label": "t:labels.border_color"
    },
    {
      "id": "header_link",
      "type": "text",
      "label": "t:general.header",
      "default": "Quick links"
    },
    {
      "id": "menu",
      "type": "link_list",
      "label": "t:labels.menu",
      "default": "footer"
    },
    {
      "id": "copy_right",
      "type": "text",
      "label": "t:labels.copy_right",
      "default": "© 2025"
    }
  ]
}
{% endschema %}
