{% comment %}
  <div class="product-form">
    {% form 'product', product %}
      {% assign current_variant = product.selected_or_first_available_variant %}

      <select name="id">
        {% for variant in product.variants %}
          <option
            value="{{ variant.id }}"
            {% if variant == current_variant %}
              selected="selected"
            {% endif %}
          >
            {{ variant.title }} - {{ variant.price | money }}
          </option>
        {% endfor %}
      </select>

      <input type="text" name="quantity" min="1" value="1">

      <input type="submit" value="Add to cart">
      {{ form | payment_button }}
    {% endform %}
  </div>
{% endcomment %}
{% liquid
  assign bg_color = section.settings.background_color | default: settings.secondary_color
  assign text_color = section.settings.text_color | default: settings.primary_color
%}
<main style="background: {{ bg_color }}; color: {{ text_color }};">
  <div class="container md:py-9 py-7 flex">
    <div class="w-[55%]">
      {% render 'images-product-section', images: product.images, text_color: text_color %}
    </div>
    <div class="flex-1 pl-[50px]">
      <h1 class="md:text-[39px] text-[29px] font-bold">{{ product.title }}</h1>
      <div class="[&_h2]:font-bold [&_h2]:md:text-[39px] [&_h2]:text-[26px] [&_h3]:font-bold [&_h3]:md:text-[23.4px] [&_h3]:text-[22px] md:space-y-6 space-y-5">
        {{ product.description }}
      </div>
    </div>
  </div>
</main>

{% schema %}
{
  "name": "t:general.product",
  "settings": [
    {
      "id": "background_color",
      "type": "color",
      "label": "t:labels.background"
    },
    {
      "id": "text_color",
      "type": "color",
      "label": "t:general.colors"
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
